<div class="jumbo show-listing">
  <h2 class="title">{{content.title}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Owner:</strong> {{content.owner}}
    </div>
    <div class="detail">
      <strong>Type:</strong> {{rental-property-type content.propertyType}} - {{content.propertyType}}
    </div>
    <div class="detail">
      <strong>Location:</strong> {{content.city}}
    </div>
    <div class="detail">
      <strong>Number of bedrooms:</strong> {{content.bedrooms}}
    </div>
    <div class="detail bedrooms">
      <strong>Sleeps:</strong> {{content.sleeps}}
    </div>
    <p>&nbsp;</p>
    <p class="description">{{content.description}}</p>
  </div>
  <img src={{content.image}} class="rental-pic" />
</div>
